* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x ;
}

#container{
    width: 750px;
    margin: 0 auto;

}
/* INICIO DO HEADER - Barra horizontal*/
header{
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    margin-bottom: 60px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
    text-indent: -5000px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#navegacao{
    margin-top: 30px;
}
ul#navegacao li{
    float: left;
    
}
ul#navegacao a{
    display: block;
    padding: 10px 1.1em;
    text-decoration: none;
    margin: 5px 0;
    background-color: #990531;
    color: #fff;
    cursor: text;
}
ul#navegacao a:hover{
    background-color: #e8074a;
    color:#730727;
}
body.home #navegacao a#home,body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,body.fotos #navegacao a#fotos {
    background-color: #e8074a;
    color: #fff;
}
/*INICIO DO MAIN - Conteudos Primario, Secundario e Lateral */
main{
    background: #f5f5f5;
}
#lateral {
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
    
}
#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;

    
}
#duas-colunas #primario {
    width: 555px;
}
#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0px;
    
}
#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;

 
    
}
/*Observar que ouve a troca de posição dos conteudos no main utilizando somente
float:left e alterando os valores das margem esquerda nas 3 areas de conteudo*/

/*CONTEUDOS LATERAL, PRIMARIO E SECUNDARIO*/
.caixa{
    background: #f3f3f3 url(imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px 0;
}
h2{
    font-size: 1em;
    color: #fff;
    background: #294c85;
    padding: 5px;
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
/*Formatando imagens*/
img {
    border: 2px solid #dfdfdf ;
}

.caixa-conteudo img{
    width: 100%;
}
/*Formatando Cabeçalhos*/
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
.destaque h3{
    background-color: #e8074a;
    color: #fff;
}
.ultima-entrevista h3{
    background-color: #e8074a;
    color: #000;
}

/*Formatação dos menus laterais*/
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display:block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}
#lateral ul a:hover{
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}
/*Campo de Email*/
label{
    display: block;
    cursor: pointer;
}
input{
    padding: 5px;
    margin-top:5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
} 
input.submit {
    width: 80px;
    color: #fff;
    background-color: #990531;
    border: 1px solid #730727;
}

/* Campo de noticias*/
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img{
    width: 80px;
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.7em;
    color: #000;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}


/*INICIO DO FOOTER*/
footer{
    clear: both;
    background-color:#294c85;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}